* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  background-color: #0A0A0A;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.largura-definida {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  background: transparent;
  backdrop-filter: blur(0.5rem);
  border-bottom: 1px solid rgba(255, 0, 0, 0.205);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}
.header .header_nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.header .header_nav figure {
  width: 8rem;
}
.header .header_nav figure a {
  display: inline-block;
  width: 100%;
}
.header .header_nav figure .img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 2px rgba(255, 0, 0, 0.281);
}
.header #menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  right: 0;
  left: auto;
  position: absolute;
}
.header #menu #menu-bar {
  width: 4.5rem;
  height: 4rem;
  margin: 3rem 2rem 0 0;
  cursor: pointer;
}
.header #menu .bar {
  height: 0.5rem;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.header #menu #bar1 {
  transform: translateY(-4px);
}
.header #menu #bar3 {
  transform: translateY(4px);
}
.header #menu .navHamburguer {
  transition: 0.3s ease;
  display: none;
  text-align: right;
}
.header #menu .navHamburguer ul {
  padding: 0 2.2rem;
}
.header #menu .navHamburguer li {
  list-style: none;
  padding: 1.2rem 0;
}
.header #menu .navHamburguer li a {
  color: white;
  font-size: 1.8em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.header #menu .navHamburguer li a:hover {
  transform: scale(1.1);
}
.header #menu .change {
  display: block;
}
.header #menu .change .bar {
  background-color: white;
}
.header #menu .change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.header #menu .change #bar2 {
  opacity: 0;
}
.header #menu .change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}
.header .menu-bg {
  top: 0;
  right: 0;
  left: auto;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  margin: 3rem 2rem 2rem 0;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  transition: 0.3s ease;
}
.header .change-bg {
  width: 52rem;
  height: 46rem;
  transform: translate(60%, -25%);
}

/* .header{
    background-color: #0F0F0F;
    padding: 2.5rem;
    border-bottom: 1px solid rgba(255, 0, 0, 0.164);
}
.header_content{
    display: flex;
}
.header_content figure img{
    width: 100%;
    border-radius: 1rem;
}
.header_content figure{
    width: 8rem;

}
.header_content_texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.header_content_texts h1{
    font-size: 2em;
    color: white;
}
.header_content_texts p{
    color: rgba(255, 255, 255, 0.404);
    font-size: 1.4em;
} */
main {
  background-color: #0A0A0A;
  padding: 2rem;
  margin-top: 12rem;
}

.container h2 {
  color: white;
  font-size: 2em;
}

.container > p {
  color: rgba(255, 255, 255, 0.479);
  font-size: 1.4em;
  margin-bottom: 3rem;
}

.container_divsDates {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.container_divsDates_divDate {
  flex: 1 1 calc(100% - 2rem);
  max-width: 35rem;
  padding: 2rem;
  background-color: #1A1A1A;
  border: 1px solid rgba(255, 0, 0, 0.199);
  border-radius: 1rem;
  text-decoration: none;
}

.container_divsDates_divDate_icon {
  display: flex;
  justify-content: space-between;
}

.container_divsDates_divDate > p:nth-child(2) {
  color: white;
  font-size: 1.6em;
  margin-top: 1rem;
}

.container_divsDates_divDate > p:nth-child(3) {
  color: rgba(255, 255, 255, 0.37);
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.container_divsDates_divDate_icon i {
  font-size: 2.5em;
  padding: 1rem 1.2rem;
  background-color: #301414;
  border-radius: 0.5rem;
  color: #A81E3A;
}

.container_divsDates_divDate_icon p {
  color: #A81E3A;
  background-color: #301414;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.4em;
}

.container_divsDates_divDate > a {
  color: #A81E3A;
  font-size: 1.4em;
  text-decoration: none;
}

.container_divsDates_divDate > a > span {
  transition: all 0.2s ease-in-out;
}

.container_divsDates_divDate > a:hover > span {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  #menu-bar {
    display: none;
  }
  .navHamburguer {
    display: block !important;
  }
  .navHamburguer ul {
    display: flex;
    gap: 2rem;
  }
  .navHamburguer a {
    color: #A8A8A8 !important;
  }
  .navHamburguer a:hover {
    color: #B61313 !important;
    transform: scale(1.1);
  }
  #menu {
    position: relative !important;
  }
  .header_nav {
    align-items: center;
  }
}/*# sourceMappingURL=homeTreinos.css.map */